/*general*/

body {
    font-family: 'Montserrat', sans-serif;
}

.img-fondo-a {
    background-image: url("../images/fondo-a.png");
    background-repeat: no-repeat;
    background-size: 109%;
}

.img-fondo-b {
    background-image: url("../images/fondo-b.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 850px;
}

.texto {
    height: 140px;
    width: 345px;
    padding: 10px;
}

.pro {
    height: 440px;
}

p {
    color: #6A6A6A;
    font-size: 14px;
}

h1,
.link-rojo {
    color: #E20000;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 0px;
    margin: 0px;
}

#tecnologias h2:first-letter {
    text-transform: uppercase;
}

#tecnologias h2:not(first-letter) {
    text-transform: lowercase;
}

h3 {
    font-size: 14px;
    color: #282828;
    font-weight: 300;
    margin-top: 50px;
}

.experiencia h3,
.estudios h3 {
    font-size: 20px;
    color: gray;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}

.experiencia h4,
.estudios h4 {
    font-size: 18px;
    font-weight: 700;
}

.experiencia h4 {
    color: #370A6D;
}

.estudios h4 {
    color: #E20000;
}

.experiencia h5,
.estudios h5 {
    font-size: 14px;
    color: gray;
}

.experiencia p,
.estudios p {
    font-size: 13px;
}

.card {
    border-radius: 20px;
}

.color-gradiente {
    background: linear-gradient(90deg, rgba(184, 37, 20, 1) 0%, rgba(240, 47, 23, 1) 100%);
}


/*general*/


/*contacto-sobremi-proyectos-index*/

.nav-link {
    color: black;
    /* margin-left: 23px; */
    margin-right: 46px;
}

a.nav-link {
    color: black;
}

a.nav-link:hover {
    text-decoration: none;
}

nav .active {
    color: rgba(0, 0, 0, 0.904);
    border: 1px solid #E20000;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 100;
    text-align: center;
}

.conocer-proyectos {
    background-color: white;
    color: #370A6D;
    font-size: 15px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: bold;
    text-transform: uppercase! important;
}

.conocer-proyectos:hover {
    color: white;
    background-color: #370A6D;
    text-decoration: none;
}

.btn {
    background-color: #E20000;
    font-size: 13px;
    border-radius: 20px;
    padding: 5px 20px;
    font-weight: 600;
    text-transform: uppercase! important;
}

.experiencia .btn {
    background-color: #370A6D;
}

.btn:hover {
    background-color: #370A6D;
    text-decoration: none;
}

.experiencia .btn:hover {
    background-color: #E20000;
    text-decoration: none;
}


/*contacto-sobremi-proyectos-index*/

.boton:not(:disabled):not(.disabled) {
    cursor: pointer;
}


/*formulario*/

input,
textarea {
    border-radius: 15px !important;
    border: 0px !important;
}

textarea {
    height: 150px !important;
    resize: none;
}

button {
    color: white;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    float: right;
    padding: 12px 50px 12px 50px;
    font: bold;
    font-size: 20px;
}

.btn-enviar {
    background-color: #FFFFFF;
    color: #370A6D;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    padding: 6px 39px;
    border: none;
}

.btn-enviar:hover {
    background-color: #370A6D;
    color: white;
}


/*formulario*/


/*footer*/

.footer-a,
.footer-b {
    margin-top: 100px;
}

.footer-a,
.footer-a a {
    color: white;
    font-size: 14px;
}

.footer-b,
.footer-b a {
    color: #E20000;
    font-size: 14px;
}

.fa-github {
    font-size: 30px;
    height: 32px;
    width: 32px;
    padding: 8px 0 0 0;
}

.footer-a .fa-github {
    color: white;
}

.footer-b .fa-github {
    color: #E20000;
}

.fa-linkedin-in {
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 8px;
    border-radius: 80px;
    margin-bottom: 8px;
}

.footer-a .fa-linkedin-in {
    color: #E20000;
    background-color: white;
}

.footer-b .fa-linkedin-in {
    color: white;
    background-color: #E20000;
}

footer .fa-whatsapp {
    margin-left: 190px;
    bottom: 0px;
    color: white;
    background-color: #370A6D;
    font-size: 30px;
    padding: 10px 19px;
    border-radius: 10px 10px 0 0;
    height: 65px;
    width: 65px;
}

.card-idioma {
    border-radius: 17px;
    margin-left: 1px;
    margin-right: 1px;
}

.card-idioma .card {
    background-color: #370A6D;
    color: white;
    font-size: 80px;
    height: 150px;
    width: 150px;
}

.card-idioma h2 {
    color: rgba(0, 0, 0, 0.904);
    font-weight: bold;
}

.exp h2,
.est h2 {
    text-transform: none;
    font-size: 20px;
    font-weight: bold;
}

.exp h2 {
    color: #370A6D;
}

.est h2 {
    color: #E20000;
}

.exp .fas,
.est .fas {
    font-size: 55px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/*footer*/

.img-fondo-a .div-cohete {
    height: 410px;
}

.img-fondo-a .cohete {
    height: 400px;
}

.img-fondo-a .cohete:hover {
    height: 410px;
}

.img-fondo-a .presentacion p {
    color: white;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}

.p-1 {
    padding: .25rem!important;
}

.tamara {
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.div-foto-cv {
    margin-left: 100px;
}

.foto-cv {
    height: 350px;
    width: 350px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.desc-cv {
    color: white;
    font-size: 15px;
    border-radius: 20px;
    /* padding: 10px 15px; */
    font-weight: 100;
}


/* .desc-cv:hover {
        color: white;
        font-size: 15px;
        border-radius: 20px;
        padding: 5px 20px;
        font-weight: 100;
    } */

.experiencia,
.estudios {
    border-radius: 17px;
    width: 550px;
}

@media only screen and (max-width: 700px) {
    .btn-menu {
        border: solid 1px #E20000;
        color: #E20000;
        height: 35px;
        width: 35px;
        padding: 2px;
    }
    nav .active {
        color: white;
        border: 1px solid white;
    }
    .img-fondo-a {
        background-repeat: round;
        background-size: 450%;
    }
    .div-menu,
    .text-right,
    .iconos,
    .titulo,
    .wapp {
        display: flex;
        justify-content: center;
    }
    .nav-link {
        margin: 0;
    }
    nav .active {
        color: black;
        border: 1px solid #E20000;
    }
    .fab {
        margin: 0;
        padding: 0;
    }
    .fa-linkedin-in {
        padding-top: 6px;
    }
    .img-fondo-a .presentacion p {
        color: #370A6D;
        border: 1px solid #370A6D;
    }
    footer .fa-whatsapp {
        margin: 0;
    }
}